<nav class="navbar navbar-expand navbar-dark bg-dark px-4">
  <a class="navbar-brand" href="#">Risk Engine</a>
  <div class="navbar-nav">
    <a class="nav-link" routerLink="/rules" routerLinkActive="active">View Rules</a>
    <a class="nav-link" routerLink="/create" routerLinkActive="active">Create Rule</a>
    <a class="nav-link" routerLink="/customers" routerLinkActive="active">Customer Data</a>
    <a class="nav-link" routerLink="/result" routerLinkActive="active">Evaluated Results</a>
  </div>
</nav>

<router-outlet></router-outlet>
